@layer global {
  body {
    background-color: var(--background-color);
    font-family: var(--font-main);
    color: var(--foreground-color);
  }

  a:any-link {
    color: var(--brand-color-50);
  }

  button {
    cursor: pointer;
  }

  h1 {
    font-family: var(--font-heading);
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  }
}
